.view-grades {
  caption {
    .date-display-single {
      font-size: 25px;
    }
  }

  .admin-buttons {
    a {
      border: solid 1px;
      padding: 5px 5px 5px 5px;
      border-radius: 25px;
    }
    a:hover {
      background-color: #337ab7;
      color: white;
      text-decoration: none;
    }
  }
}