/* line 2, ../sass/components/_front.scss */
header .social-list {
  padding-top: 12px;
}
/* line 5, ../sass/components/_front.scss */
header .site-name {
  font-size: 80px;
  text-transform: uppercase;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 600;
}
/* line 11, ../sass/components/_front.scss */
header .site-name :hover {
  text-decoration: none;
  color: #ff8533;
}

/* line 19, ../sass/components/_front.scss */
.main .wrap-inner {
  width: 100%;
  max-width: none !important;
}
/* line 25, ../sass/components/_front.scss */
.main .wrap-inner .main-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
}
/* line 31, ../sass/components/_front.scss */
.main .wrap-inner .main-menu li a :hover {
  text-decoration: none;
}

/* line 3, ../sass/components/_money.scss */
.view-money .views-field .negative {
  color: red;
}
/* line 9, ../sass/components/_money.scss */
.view-money caption .date-display-single {
  font-size: 25px;
}
/* line 15, ../sass/components/_money.scss */
.view-money table td.views-field-title {
  width: 25%;
}
/* line 19, ../sass/components/_money.scss */
.view-money table td.views-field-field-date-1 {
  width: 25%;
}
/* line 23, ../sass/components/_money.scss */
.view-money table td.views-field-field-amount {
  width: 25%;
}
/* line 27, ../sass/components/_money.scss */
.view-money table td.view-field-php {
  width: 25%;
}
/* line 33, ../sass/components/_money.scss */
.view-money .admin-buttons a {
  border: solid 1px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
}
/* line 38, ../sass/components/_money.scss */
.view-money .admin-buttons a:hover {
  background-color: #337ab7;
  color: white;
  text-decoration: none;
}

/* line 3, ../sass/components/_grades.scss */
.view-grades caption .date-display-single {
  font-size: 25px;
}
/* line 9, ../sass/components/_grades.scss */
.view-grades .admin-buttons a {
  border: solid 1px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
}
/* line 14, ../sass/components/_grades.scss */
.view-grades .admin-buttons a:hover {
  background-color: #337ab7;
  color: white;
  text-decoration: none;
}
/* line 22, ../sass/components/_grades.scss */
.view-grades table td.views-field-title {
  width: 25%;
}
/* line 26, ../sass/components/_grades.scss */
.view-grades table td.views-field-field-percentage {
  width: 25%;
}
/* line 30, ../sass/components/_grades.scss */
.view-grades table td.views-field-field-credits {
  width: 25%;
}
/* line 34, ../sass/components/_grades.scss */
.view-grades table td.view-field-php {
  width: 25%;
}
/* line 39, ../sass/components/_grades.scss */
.view-grades .total-percentage {
  font-size: 25px;
}

/* line 1, ../sass/components/_edit_add_content.scss */
#edit-add-content {
  background-color: #d9d9d9;
  color: black;
  border: solid #d9d9d9 thin;
  background-image: url("../images/down-arrow.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 5px 10px;
}
/* line 10, ../sass/components/_edit_add_content.scss */
#edit-add-content p {
  padding-left: 40px;
  font-size: 20px;
  margin-top: 10px;
}
/* line 16, ../sass/components/_edit_add_content.scss */
#edit-add-content #add-content-list {
  background-color: white;
  display: none;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 22, ../sass/components/_edit_add_content.scss */
#edit-add-content #add-content-list a {
  padding-left: 5px;
}

/* line 3, ../sass/components/_schedule.scss */
.view-calendar .admin-buttons a {
  border: solid 1px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
}
/* line 8, ../sass/components/_schedule.scss */
.view-calendar .admin-buttons a:hover {
  background-color: #337ab7;
  color: white;
  text-decoration: none;
}
/* line 15, ../sass/components/_schedule.scss */
.view-calendar .date-prev {
  position: absolute !important;
  left: 0 !important;
  background: none repeat scroll 0 0 #fff !important;
}
/* line 19, ../sass/components/_schedule.scss */
.view-calendar .date-prev a {
  position: absolute;
  left: 0;
}
/* line 25, ../sass/components/_schedule.scss */
.view-calendar .date-next {
  background: none repeat scroll 0 0 #fff !important;
}
