/* line 2, ../sass/components/_front.scss */
header .social-list {
  padding-top: 12px;
}
/* line 5, ../sass/components/_front.scss */
header .site-name {
  font-size: 80px;
  text-transform: uppercase;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 600;
}
/* line 11, ../sass/components/_front.scss */
header .site-name :hover {
  text-decoration: none;
  color: #ff8533;
}
